<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onexpocket</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>iosamap</string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDeion</key>
	<string>总是或使用时访问位置</string>
	<key>UIAppFonts</key>
	<array>
		<string>Alibaba-PuHuiTi-Medium.ttf</string>
		<string>Alibaba-PuHuiTi-Regular.ttf</string>
		<string>Alibaba-PuHuiTi-Bold.ttf</string>
		<string>Alibaba-PuHuiTi-Light.ttf</string>
		<string>Alibaba-PuHuiTi-Heavy.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
